@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    color: #222;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

/* float 해제를 위한 클래스 */

.clear::after {
    content: "";
    display: block;
    clear: both;
}



/* 

구글 웹폰트
1) Noto Sans Korean -> Use a value from 100 to 900
font-family: "Noto Sans KR", sans-serif;

2) Fredoka -> Use a value from 300 to 700
font-family: "Fredoka", sans-serif;

*/





body {
    font-family: "Noto Sans KR", sans-serif;
}

.sandwich-menu {
    width: 1200px;
    margin: 60px auto;
    /* background-color: darkcyan; */
}
.sandwich-menu .top {
    /* outline: 3px solid red; */

    margin-bottom: 40px;
}

.sandwich-menu .top .title {
    font-family: "Fredoka", sans-serif;
    font-size: 2.7rem;
    font-weight: 600;

    line-height: 60px;
    background-image: url(../img/example3/bul_tit.png);
    background-repeat: no-repeat;
    padding-left: 30px;
    
    float: left;
}

.sandwich-menu .top .tabmenu {
    /* background-color: plum; */
    float: right;
}
.sandwich-menu .top .tabmenu li {
    /* outline: 1px solid red; */
    display: inline-block;
    line-height: 60px;
    position: relative; /* 가상요소 after의 기준!!! */
}
.sandwich-menu .top .tabmenu li ~ li {
    margin-left: 30px;
}
.sandwich-menu .top .tabmenu li::after {
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    background-color: #222;
    position: absolute;
    left: -18px;
    top: 24px;
}

.sandwich-menu .top .tabmenu li:first-child::after {
    display: none;
}


.sandwich-menu .top .tabmenu li a {
    color: #222;
}

.sandwich-menu .top .tabmenu li.active a {
    color: #009132;
    font-weight: 600;
}





.sandwich-menu .content {
    /* background-color: greenyellow; */
    position: relative; /* .btn의 기준!!!! */
}

.sandwich-menu .content .btn {
    /* outline: 2px solid blue; */
    width: 50px;
    height: 50px;

    position: absolute;
    top: 50%;
    margin-top: -25px;
}
.sandwich-menu .content .btn.prev {
    left: -80px;
}
.sandwich-menu .content .btn.next {
    right: -80px;
}

.sandwich-menu .content .btn a {
    /* 글자 없애기 */
    font-size: 0;
    /* opacity: 0; */
    /* text-indent: -9999px; */

    display: block;
    height: 100%;

    /* background-color: brown; */
    background-image: url(../img/example3/icon_event_slider_arr.png);
    background-repeat: no-repeat;
}

.sandwich-menu .content .prev a:hover {
    background-position: left bottom;
}

.sandwich-menu .content .next a {
    background-position: right top;
}

.sandwich-menu .content .next a:hover {
    background-position: right bottom;
}

.sandwich-menu .content .menu-wrap {
    width: 100%;
}

.menu-wrap li {
    /* outline: 2px solid red; */
    width: 25%;
    float: left;
}
.menu-wrap li a {
    display: block;
}
.menu-wrap li img {
    width: 100%;
}

.menu-wrap li .info {
    padding: 0 20px;
    text-align: center;
}
.menu-wrap li .info h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.menu-wrap li .info p {
    letter-spacing: -0.6px;
    word-break: keep-all;
    line-height: 1.4;
    color: #888;
}