@charset "utf-8";

/* reset */

* {
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}

/* float 해제 */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


/* 구글 웹폰트 */

/* 1. 나눔고딕 (400,700,800)
font-family: "Nanum Gothic", sans-serif;
*/


/* html */

body {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 100%;
    font-weight: 400;
    background-image: url(../images/bg.jpg);
    color: #fff;
}


header {
    /* opacity: 0.2; */
    /* outline: 1px solid yellow; */
    background-image: url(../images/bg-header.jpg);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

header .header-wrap {
    /* outline: 1px solid yellow; */
    /* line-height: 100px; */
    width: 960px;
    margin: 0 auto;
}
.header-wrap h1 {
    /* outline: 1px solid yellow; */
    float: left;
}
.header-wrap h1 a {
    /* outline: 1px solid yellow; */
    float: left;
    margin-top: 25px;
}
.header-wrap h1 a img {
    display: block;
}

.header-wrap h1 .img-box {
    /* outline: 1px solid yellow; */
    float: left;
    margin-left: 36px;
}
.header-wrap h1 .img-box img {
    width: 100%;
    display: block;
}


.header-wrap nav {
    /* outline: 1px solid yellow; */
    float: right;
    margin: 35px 0px;
}
.header-wrap nav p {
    /* outline: 1px solid yellow; */
    float: left;
    margin-left: 6px;
}
.header-wrap nav p a {
    /* outline: 1px solid yellow; */
    /* background-color: antiquewhite; */
    font-size: 14px;
    float: left;
    color: #fff;
    display: block;
}
.header-wrap nav p a:hover {
    color: #222;
    background-color: #fff;
}
.header-wrap nav p~p::before {
    /* outline: 1px solid yellow; */
    content: "/";
    font-size: 14px;
    float: left;
    color: #fff;
    margin-right: 6px;
}
/* ************************************Q. p태그 안에 가상요소 들어가도 되나요..? A.O */




section {
    /* background-color: darkgray; */
    /* background-color: aliceblue; */
    padding-top: 100px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

section .con1 {
    /* outline: 1px solid yellow; */
    background-image: url(../images/bg-triangle.png);
    background-repeat: no-repeat;
    background-position: 0 -100px;
    height: 450px;
    position: relative; /* .con1 img, h2, txt의 기준 */
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}
/* ************************************Q. height 없이 잘 배치하는 방법을 못찾음...
A. 이미지 태그말고 백그라운드이미지로 삼각형 넣어보기 */

.con1 h2 {
    font-weight: 800;
    font-size: 24px;
    position: absolute;
    right: 198px;
    top: 70px;
}
.con1 img {
    width: 580px;
    position: absolute;
    left: 123px;
    top: 42px;
}
.con1 .txt {
    width: 200px;
    font-size: 12px;
    position: absolute;
    right: 12px;
    bottom: 12px;
}
.con1 .txt p {
    margin-bottom: 10px;
    line-height: 18px;
}
.con1 .txt a {
    /* outline: 1px solid yellow; */
    color: #fff;
}
.con1 .txt a:hover {
    color: #222;
    background-color: #fff;
}

section .con2 {
    /* outline: 1px solid yellow; */
}
.con2 h2 {
    /* outline: 1px solid yellow; */
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 12px;
}
.con2 h2 .box-wrap {
    /* outline: 1px solid yellow; */
}
.con2 .box-wrap .box {
    /* outline: 1px solid yellow; */
    width: 23.5%;
    margin-left: 2%;
    float: left;
}
.con2 .box-wrap .box:first-child {
    margin-left: 0;
}
.con2 .box-wrap .box img {
    /* outline: 1px solid yellow; */
    width: 100%;
    display: block;
}
.con2 .box-wrap .box p {
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    font-size: 13px;
}
.con2 .box-wrap .box p:last-child {
    border-bottom: 0;
}



footer {
    /* outline: 1px solid yellow; */
    background-color: rgba(0,0,0,0.3);
}

/* ver2 시작 -> ul 감싸는 div 있는 경우 */

footer .ul-wrap {
    width: 960px;
    margin: 0 auto;
}

footer .ul-wrap ul {
    /* outline: 1px solid yellow; */
    float: right;
}
footer .ul-wrap ul li {
    float: left;
    margin: 15px 0;
}

footer .ul-wrap ul li:last-child {
    margin-right: 4px;
    font-size: 10px;
    color: #fff;
}

footer .ul-wrap ul li~li::before {
    /* outline: 1px solid yellow; */
    content: "|";
    display: block;
    float: left;
    font-size: 10px;
    margin-right: 4px;
}


footer .ul-wrap ul li a {
    /* outline: 1px solid yellow; */
    margin-right: 4px;
    font-size: 10px;
    color: #fff;
    float: left;
    display: block;
}


footer .ul-wrap ul li a:hover {
    color: #222;
    background-color: #fff;
}

/* ver2 끝 */


